fastapi
uvicorn[standard]
xgboost
pandas
numpy
scikit-learn
shap
fairlearn
plotly
joblib
pyyaml
python-dotenv
reportlab
httpx
ucimlrepo
python-jose[cryptography]
scipy
asyncpg
sqlalchemy[asyncio]
alembic
psycopg2-binary
passlib[bcrypt]
